.rotate180{
    transform: rotate(180deg);
}
.mirror{
    transform: scaleX(-1);
}
.mirrorY{
    transform: scaleY(-1);
}
.bgWhiteTrans{
    background-color: rgb(255, 255, 255, 0.7);
}
@media only screen and (min-width: 720px) {
    .widthConditional{
        width: 65%;
    }
}
