.rotate180{
    transform: rotate(180deg);
}
.mirror{
    transform: scaleX(-1);
}
.mirrorY{
    transform: scaleY(-1);
}
.bgWhiteTrans{
    background-color: rgb(253, 243, 231,  0.5);
}
@media only screen and (min-width: 720px) {
    .widthConditional{
        width: 65%;
    }
}
