.borderRadius{
    border-radius: 4rem 0 0 0;
}
.bgWhiteTrasnparent{
    background-color: rgb(253, 243, 231,  0.5);
}
@media only screen and (min-width: 720px) {
    .widthConditional{
        width: 35vw;
    }
}
@media only screen and (max-width: 900px) {
    .heightConditional{
        height: 75vh !important;
        overflow-y: scroll;
    }
}
.bgButton:hover {
    background-color: #198754 !important;
}
