.navbarTransition {
    background-color: #E3B04B;
    border-radius: 0rem 1rem 1rem 0rem ;
}
.textColorPrimary{color: #E3B04B}
a {text-decoration: none; color: white;}
.z10 {z-index: 10;}
.h16{
    height: 12%;
}

@media screen and (max-width : 600px) {
    .wNavbar {
        width: 100%;
        left: 0;
    }

}
@media screen and (min-width: 600px) and (max-width: 1800px) {
    .wNavbar {
        width: 50%;
        transform: translate(50%,0);
        left: 0;
    }

}
.navbar::-webkit-scrollbar{
    display: none;
}
.active {
    background-color: rgb(149, 141, 126, 0.5);
}