.bgWhiteTrasnparent{
    background-color: rgb(255, 255, 255, 0.7);
}
@media only screen and (min-width: 720px) {
    .widthConditional{
        width: 65%;
    }
}
.bgButton{
    background-color: #62c394 !important;
}
