.bgWhiteTrasnparent{
    background-color: rgb(253, 243, 231,  0.5);
}
@media only screen and (min-width: 720px) {
    .widthConditional{
        width: 65%;
    }
}
.bgButton{
    background-color: #62c394 !important;
}
.bgButton:hover {
    background-color: #198754 !important;
}
