.rotate180{
    transform: rotate(180deg);
}
.mirror{
    transform: scaleX(-1);
}
.mirrorY{
    transform: scaleY(-1);
}
.bgCover3{
    background-image: url('../../assets/bgCover3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bgCover3::before{
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 0;
}
.bgButton{
    background-color: #21ad6c !important;
}
.bgButton:hover{
    background-color: #21ad6c !important;
}
.textPrimary {
    color: #38fba0;
}
/* @media only screen and (max-width: 600px) and (min-width: 120px) {
    .bgCover{
        background-size: cover;
    }
} */