.rotate180{
    transform: rotate(180deg);
}
.mirror{
    transform: scaleX(-1);
}
.mirrorY{
    transform: scaleY(-1);
}
.bgCover{
    background-image: url('../../assets/bgCover.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
@media only screen and (max-width: 600px) and (min-width: 120px) {
    .bgCover{
        background-size: cover;
    }
}